.generator {
    .config, .result{
        width: 50%;
        float: left;
        padding: 6px;
    }
    .config {
        input{
            display: block;
            &.inline{
                display: inline-block;
            }
        }

        input[type="checkbox"] {
            -webkit-appearance: checkbox;
            -moz-appearance: checkbox;
            appearance: checkbox;
        }
        input[type="radio"] {
            -webkit-appearance: radio;
            -moz-appearance: radio;
            appearance: radio;
        }

    }
    .result{
        .markup{
            font-family: monospace;
            font-size: 12px;
            line-height: 16px;
            background: #eee;
            span{
                display: block;
            }
            pre{
                margin: 0;
            }
        }
    }
    &:after{
        display: table;
        content: "";
        clear: both;
    }
}
